/***
 *    ┏┓┓ ┏┏┓┓┏┳┓┏┓  ┏┓┓┏┏┓┳┓┏┓┏┓┳┓┏┓┏┓┏┳┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┃ ━━┣ ┃┃┣ ┣┫┣ ┃┃┣┫┣ ┗┓ ┃
 *    ┗┛┗┻┛┛┗┗┛┛┗┗┛  ┗┛┗┛┗┛┛┗┻ ┗┛┛┗┗┛┗┛ ┻
 *
 */



/* Colors */
@define-color background 	    #191A23;
@define-color background-alt 	    #475258;
@define-color background-alt-darker #414b50;
@define-color accent-normal    	    #83c092;
@define-color accent-error     	    #e67e80;
@define-color bordercolor           #83c092;
@define-color fontcolor 	    #fff;
@define-color fontaltcolor 	    #191A23;


/* Config */

* {
    font-family: "JetbrainsMono NFP SemiBold";
    font-style: italic;
}

/* Notification */

.notification {
    background: @background;
    color: @fontcolor;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: none;
    padding:10px;
}

.body {
  color: @fontcolor;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @accent-normal;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @fontcolor;
  text-shadow: none;
  margin-right: 18px;
}

.close-button {
  background-color: @accent-error;
  color: @fontaltcolor;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @fontcolor;
    background: transparent;
}

.notification.critical progress {
  background-color: @accent-error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent-normal;
}

/* Control Center */

.control-center {
    background-color: @background;
    color: @fontcolor;
    padding: 10px;
}

/* Notifications expanded-group */

.notification-group {
  background-color: transparent;
  margin: 2px 8px 2px 8px;
  font-size: 14px;

}

.notification-group-icon {
  color: @fontcolor;
}

.notification-group-headers {
  color: @fontcolor;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @accent-normal;
  color: @fontaltcolor;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}


/* widget title */
.widget-title {
  color: @fontcolor;
}
.widget-title>button {
  font-size: 1rem;
  color: @fontcolor;
  background: @background-alt-darker;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}



/* dnd widget */
.widget-dnd {
  background: transparent;
  border: 1px solid transparent;
  font-size: large;
  color: @fontcolor;
}

.widget-dnd>label {
  color: @fontcolor;
}

.widget-dnd>switch {
  background: @background-alt;
  color: @fontcolor;
  border-radius: 6px;
}

.widget-dnd>switch:checked {
  background: @accent-error;
  border: 1px solid @accent-error;
}
